@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  padding: 0;
  margin: 0;
}

.html {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 1.15;
  font-weight: 400;
}

.container {
  padding: 30px;
  background-color: #e9eaed;
}

/* Top-menu*/

.top-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;
}

.top-menu .left-menu {
    position: relative;
    -ms-flex-item-align: center;
        align-self: center;
  }

.top-menu .left-menu .burger-menu {
      position: absolute;
      width: 20px;
      height: 3px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      background-color: #313942
    }

.top-menu .left-menu .burger-menu:before {
  content:"";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #313942;
      -webkit-transform: translate(0, -6.5px);
              transform: translate(0, -6.5px);
}

.top-menu .left-menu .burger-menu:after {
  content:"";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #313942;
      -webkit-transform: translate(0, 6.5px);
              transform: translate(0, 6.5px);
}

.top-menu .left-menu h2 {
      margin-left: 5%;
      font-family: 'PT Sans', sans-serif;
      font-size: 24px;
      font-weight: 400;
    }

.top-menu .right-menu {
    position: relative;
  }

.top-menu .right-menu .payment {
      display: block;
      position: absolute;
      right: 15%;
      font-family: 'PT Sans', sans-serif;
      font-size: 18px;
      font-weight: 400;
    }

.switch {
  display: block;
  position: absolute;
  top: 40%;
  right: 1%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 50px;
  height: 28px;
}

.switch input {
    display:none;
  }

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    height: 28px
  }

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;

  /* right: 4px;*/
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #71c114;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #71c114;
          box-shadow: 0 0 1px #71c114;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Main */

.billing {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.billing .left-side {
    background-color: #ffffff;
    padding: 30px;
    overflow: hidden;
  }

.billing .left-side .used span:nth-child(1) {
  display: block;
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.billing .left-side .used span:nth-child(2) {
  display: block;
  margin-bottom: 30px;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.billing .left-side .used-line {
      padding: 0;
      border: none;
      border-top: 1px solid #f4f4f5;
      margin-bottom: 24px;
    }

.billing .left-side .buy-more {
      position: relative;
      margin-bottom: 24px;
    }

.billing .left-side .buy-more .buy {
        margin-bottom: 10px;
        font-family: 'PT Sans', sans-serif;
        font-size: 24px;
        font-weight: 400;
        margin-right: 181px;
      }

.billing .left-side .buy-more .quantity {
        display: grid;
        grid-template-columns: 36px 40px 36px 106px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
      }

.billing .left-side .buy-more .quantity .minus {
          position: relative;
          margin-right: 15px;
          padding: 16px 17.5px 16px 17.5px;
          background-color: #f9f9fa;
          border: 1px solid #dfdfdf;
          outline: none;
          cursor: pointer;
          border-radius: 2px;
        }

.billing .left-side .buy-more .quantity .minus span {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0
          }

.billing .left-side .buy-more .quantity .minus span:before {
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
  width: 10px;
  height: 3px;
  background-color: #313942;
}

.billing .left-side .buy-more .quantity .number {
          justify-self: center;
          display: inline-block;
          /* margin-right: 15px; */
          font-family: 'PT Sans', sans-serif;
          font-size: 18px;
          font-weight: 400;
        }

.billing .left-side .buy-more .quantity .plus {
          position: relative;
          /* margin-right: 36px; */
          padding: 16px 17.5px 16px 17.5px;
          background-color: #f9f9fa;
          border: 1px solid #dfdfdf;
          outline: none;
          cursor: pointer;
          border-radius: 2px;
        }

.billing .left-side .buy-more .quantity .plus span {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0
          }

.billing .left-side .buy-more .quantity .plus span:before {
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
  width: 10px;
  height: 3px;
  background-color: #313942;
}

.billing .left-side .buy-more .quantity .plus span:nth-child(2) {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
}

.billing .left-side .buy-more .quantity .plus span:nth-child(2):before {
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
  width: 10px;
  height: 3px;
  background-color: #313942;
}

.billing .left-side .buy-more .quantity .cost {
          justify-self: center;
          justify-self: end;
          display: inline-block;
          font-family: 'PT Sans', sans-serif;
          font-size: 18px;
          font-weight: 400
        }

.billing .left-side .buy-more .quantity .cost:before {
  content:'';
  position: absolute;
  top: 50%;
  left: 57%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
  width: 10px;
  height: 1px;
  background-color: #676e79;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
}

.billing .left-side .buy-more .quantity .cost:after {
  content:'';
  position: absolute;
  top: 50%;
  left: 57%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
  width: 10px;
  height: 1px;
  background-color: #676e79;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
}

.billing .left-side .save {
      position: relative;
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 24px;
      text-align: center;
      color: #676e79;
      font-family: 'PT Sans', sans-serif;
      font-size: 18px;
      font-weight: 400;
      border: 2px solid #e3ecd9
    }

.billing .left-side .save:before {
  content:'';
  position: absolute;
  border-left: 2px solid #e3ecd9;
  border-top: 2px solid #e3ecd9;
  width: 5px;
  height: 5px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
  top: -5px;
  right: 118px;
  background: #ffffff;
}

.billing .left-side .save:after {
  border-left: 2px solid #e3ecd9;
  width: 50px;
  height: 37px;
  content: '';
  position: absolute;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
  right: -32px;
  bottom: -24px;
  background: #ffffff;
}

.billing .left-side .subscription {
      position: relative;
    }

.billing .left-side .subscription .extend {
        display: block;
        font-family: 'PT Sans', sans-serif;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 15px;
      }

.billing .left-side .subscription .month-sub {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 140px;
        /* align-items: center; */
        justify-items: center;
      }

/* border: 2px solid #749e42; */

.billing .left-side .subscription .month-sub .sub {
          position: relative;
          padding: 15px;
          z-index: 10
        }

.billing .left-side .subscription .month-sub .sub:nth-child(1) {

  /* &:before {
              content: '';
              position: absolute;
              width: 30px;
              height: 30px;
              background-color: #ffffff;
              border: 1px solid #749e42;
              border-radius: 50%;
              top: 45%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: none;
            }*/
}

.billing .left-side .subscription .month-sub .sub:nth-child(1):after {
  content:'';
  position:absolute;
  width: 22px;
  height: 22px;
  top: 36%;
  left: 50%;
          -webkit-transform: translate(-50%, 0);
                  transform: translate(-50%, 0);
  border-radius: 50%;
  background-color: #f5f5f5;
}

.billing .left-side .subscription .month-sub .sub:nth-child(2):after {
  content:'';
  position:absolute;
  width: 22px;
  height: 22px;
  top: 36%;
  left: 50%;
          -webkit-transform: translate(-50%, 0);
                  transform: translate(-50%, 0);
  border-radius: 50%;
  background-color: #f5f5f5;
}

.billing .left-side .subscription .month-sub .sub:nth-child(3):after {
  content:'';
  position:absolute;
  width: 22px;
  height: 22px;
  top: 36%;
  left: 50%;
          -webkit-transform: translate(-50%, 0);
                  transform: translate(-50%, 0);
  border-radius: 50%;
  background-color: #f5f5f5;
}

.billing .left-side .subscription .month-sub .sub:nth-child(4):after {
  content:'';
  position:absolute;
  width: 22px;
  height: 22px;
  top: 36%;
  left: 50%;
          -webkit-transform: translate(-50%, 0);
                  transform: translate(-50%, 0);
  border-radius: 50%;
  background-color: #f5f5f5;
}

.billing .left-side .subscription .month-sub .sub:nth-child(5):after {
  content:'';
  position:absolute;
  width: 22px;
  height: 22px;
  top: 36%;
  left: 50%;
          -webkit-transform: translate(-50%, 0);
                  transform: translate(-50%, 0);
  border-radius: 50%;
  background-color: #f5f5f5;
}

.billing .left-side .subscription .month-sub .sub span {
            display: block;
            font-family: 'PT Sans', sans-serif;
            font-size: 18px;
            font-weight: 400;
}

.billing .left-side .subscription .month-sub .sub span:nth-child(1) {
  margin-bottom: 56px;
}

.billing .left-side .subscription .month-sub .sub span:nth-child(2) {
  text-align: center;
  color: #749e42;
}

.billing .left-side .subscription .month-sub .sub span:nth-child(3) {
  font-size: 15px;
  text-align: center;
}

.billing .left-side .subscription .subscription-line {
        display: block;
        position: absolute;
        max-width: 80%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        width: 2000px;
        height: 5px;
        bottom: 42%;
        /* padding: 0; */
        /* border: none; */
        background-color: #f5f5f5;
        /* border-top: 2px solid black; */
      }

.billing .left-side .subscription .choose {
        content: '';
        position: absolute;
        width: 14%;
        /* width: 105px; */
        height: 140px;
        top: 21%;
        left: 3%;
        border: 2px solid #749e42;
        -webkit-transition: -webkit-transform 400ms linear;
        transition: -webkit-transform 400ms linear;
        transition: transform 400ms linear;
        transition: transform 400ms linear, -webkit-transform 400ms linear;
        /* &:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: #ffffff;
          border: 1px solid #749e42;
          border-radius: 50%;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 200;
        } */
      }

.billing .right-side {
    background-color: #f5f5f5;
  }

.check-mark {
  visibility:hidden;
}

.custom-radio {
  /* content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #749e42;
  border-radius: 50%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: none;
}

.custom-radio:active, input.check-mark:checked ~ .custom-radio {
  display: block;
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 2px solid #749e42;
  border-radius: 50%;
  top: 44%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100
}

.custom-radio:active:before, input.check-mark:checked ~ .custom-radio:before {
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8px;
  height: 3px;
  border: none;
  border-left: 2px solid #749e42;
  border-bottom: 2px solid #749e42;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: -20% bottom;
          transform-origin: -20% bottom;
}

/* Animation */

.active_none {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.active_half-year {
  -webkit-transform: translateX(137%);
          transform: translateX(137%);
}

.active_nine-month {
  -webkit-transform: translateX(273%);
          transform: translateX(273%);
}

.active_one-year {
  -webkit-transform: translateX(410%);
          transform: translateX(410%);
}

.active_two-years {
  -webkit-transform: translateX(547%);
          transform: translateX(547%);
}
